<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span><a style="font-weight: 500;color: antiquewhite;font-size: large;" href="#" routerLink="home">{{app_name}}
    </a></span>
  <ul>
    <li class="left"><a mat-icon-button href="#" routerLink="list">Employee List</a></li>
    <li class="left"><a mat-icon-button href="#" routerLink="add">Add Employee</a></li>
    <li class="left"><a mat-icon-button href="#" routerLink="profile">Profile</a></li>
    <li style="margin-left: 20px;"><a mat-icon-button href="#" routerLink="dashboard">Dashboard</a></li>
  </ul>
  <ul style="margin-left: 400px;">
    <li *ngIf="!loggedIn" class="right"><a mat-icon-button href="#" routerLink="login">login </a></li>
    <li *ngIf="loggedIn" class="right"><a mat-icon-button href="#">logout </a></li>
  </ul>
</mat-toolbar>