<table class="table table-striped">
    <div class="text-center text-info">
        <h1>Employee Details</h1>
    </div>

    <tr>
        <th>Name</th>
        <th>{{employee.empName}}</th>
    </tr>
    <tr>
        <th>Dept</th>
        <th>{{employee.empDept}}</th>
    </tr>
    <tr>
        <th>Contact</th>
        <th>{{employee.empContact}}</th>
    </tr>
    <tr>
        <th>Email</th>
        <th>{{employee.empEmail}}</th>
    </tr>
    <tr>
        <th>Gender</th>
        <th>{{employee.empGender}}</th>
    </tr>
    <tr>
        <th>Salary</th>
        <th>{{employee.empSalary}}</th>
    </tr>
</table>