<div class="container">
    <div class="card">
        <div class="text-center col-md-6 offset-md-3 margin-top">
            <img class="img-fluid" style="width: 200px;" src="/assets/password_1.png" alt="password-logo">
            <h1>Login Here</h1>
        </div>
        <form (ngSubmit)="doLogin()">
            <div class="text-center">
                <mat-form-field appearance="outline" style="width: 80%;">
                    <mat-label>Username</mat-label>
                    <input [(ngModel)]="credentials.username" name="username" matInput placeholder="Placeholder"
                        (keyup)="keyUpEvent()">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            <div class="text-center">
                <mat-form-field appearance="outline" style="width: 80%;">
                    <mat-label>Password</mat-label>
                    <input [(ngModel)]="credentials.password" name="password" matInput placeholder="Placeholder">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </div>

            <div class="text-center">
                <mat-spinner *ngIf="flag" style="margin: auto;"></mat-spinner>
                <button [disabled]="flag" type="submit" mat-raised-button color="accent">Submit</button>
                <button type="reset" (click)="btnClick()" mat-raised-button color="primary">Reset</button>
            </div>
            <div class="text-center"><a href="#" routerLink="/add">Not a member ? <b class="text-primary">Sign
                        Up</b></a></div>
        </form>
    </div>
</div>