<div class="top">
    <h1 (mouseover)="change()" class="margin-top">I am {{name}}</h1>
    <a *ngIf="btnApperence;else xyz" [class]="clickBtn" (click)="displayUpdate()">Click</a>
    <ng-template #xyz>
        <a class="btn-floating btn-large waves-effect waves-light red">Click</a>
    </ng-template>
    <h1 *ngIf="updated">UPDATE</h1>
</div>
<div class="margin-top" [ngSwitch]="btnColor" [style.text-align]="'center'">
    <a *ngSwitchCase="'blue'" class="btn-floating btn-large waves-effect waves-light blue">Blue</a>
    <a *ngSwitchCase="'red'" class="btn-floating btn-large waves-effect waves-light red">Red</a>
</div>