<div class="margin-top">
    <h3 class="text-center bg-info text-white">ALL EMPLOYEES DATA</h3>
</div>
<div class="container">
    <div class="row" style="display: flex;">
        <div *ngFor="let emp of employees" class="col-md-6 col-xl-6">
            <ul class="collection">
                <li class="collection-item avatar">
                    <img src="{{emp.imgurl}}" alt="" class="circle">
                    <span class="title">{{emp.empName}}</span>
                    <p>{{emp.empDept}}<br>
                        {{emp.empEmail}}<br>
                        {{emp.empContact}}<br>
                    </p>
                    <button (click)="deleteEmployee(emp.id)" style="margin-top: 10px;"><span class="material-icons"
                            style="color: red;">delete</span></button>
                    &nbsp; <button (click)="editEmployee(emp.id)"><span class="material-icons"
                            style="color: blueviolet;">edit</span></button>
                    &nbsp;
                    <button href="#!" class="secondary-content" (click)="viewEmployeeDetail(emp.id)"><i
                            class="material-icons">grade</i></button>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="bg-success text-white text-center">{{message}}</div>