/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: azure;
}

.text-center {
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 20px;
    width: 20%;
    left: 80%;
    height: 30px;
    background-color: blue;
    text-align: center;
    color: white;
    font-size: large;
    font-weight: 500;
    padding-top: 5px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
